<a href="https://colab.research.google.com/github/abdulrah77/python/blob/main/youtube_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#import libraries
from IPython.display import JSON
import pandas as pd
from googleapiclient.discovery import build
import time
import requests

In [ ]:
pip install --upgrade google-api-python-client --quiet

In [ ]:
#Keys
API_KEY ='AIzaSyCe6jVb4NV8gL2MMPZwwcQJbT_4nwApYiM'
channel_id = 'UCW8Ews7tdKKkBT6GdtQaXvQ'

In [ ]:
def get_video_details(video_id):
  url_video="https://www.googleapis.com/youtube/v3/videos?id="+video_id+"&part=statistics&key="+API_KEY
  response = requests.get(url_video).json()
  view_count=response['items'][0]['statistics']['viewCount']
  like_count=response['items'][0]['statistics']['likeCount']
  # dislike_count=
  comment_count=response['items'][0]['statistics']['commentCount']

  return view_count,like_count, comment_count

In [ ]:
def get_videos(df):
  pageToken =""
  url = "https://www.googleapis.com/youtube/v3/search?key=" +API_KEY+"&channelId="+channel_id+"&part=snippet,id&order=date&maxResults=1000"+pageToken
  response = requests.get(url).json()
  time.sleep(1)

  for video in response['items']:
    if video['id']['kind']== "youtube#video":
      video_id= video['id']['videoId']
      video_title=video['snippet']['title']
      #upload_date = str(video['snippet']['publishedAt']).split("T")[0]

      view_count,like_count, comment_count = get_video_details(video_id)
      #save data in pandas df
      df=df.append({'video_id':video_id,'video_title':video_title, 'view_count':view_count,'like_count':like_count, 'comment_count':comment_count  }, ignore_index=True)
      
  return df

In [ ]:
# Creating the DataFrame
df = pd.DataFrame(columns=["video_id","video_title","view_count","like_count","comment_count"])

df = get_videos(df)

In [ ]:
df.head()
#Check why the two upload_date columns are created?

,video_id,video_title,view_count,like_count,comment_count
0,jN5hpgBrz8k,Dealing With Python Date Manipulations In a Me...,1425,52,7
1,yFyyP_Uvxj0,How To Solve Data Science Probability Intervie...,1635,56,2
2,Av92CaPTRr8,How to use SQL window functions: RANK vs DENSE...,2055,60,8
3,VEjxlKBkZGM,Amazon Data Science Interview Question Walkthr...,5365,171,20
4,hMUf7DqG1nQ,SQL Basics: How to Join Multiple Tables in SQL...,3075,90,6

In [ ]:
#del df['upload_date']

In [ ]:
!pip install mysql.connector

Collecting mysql.connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     |████████████████████████████████| 11.9 MB 20.4 MB/s
Building wheels for collected packages: mysql.connector
  Building wheel for mysql.connector (setup.py) ... done
  Created wheel for mysql.connector: filename=mysql_connector-2.2.9-cp37-cp37m-linux_x86_64.whl size=247965 sha256=da67b65f2d6d07b0268bc1e5effe53d305c372e36224b8c3aeeaad3a771c6012
  Stored in directory: /root/.cache/pip/wheels/42/2f/c3/692fc7fc1f0d8c06b9175d94f0fc30f4f92348f5df5af1b8b7
Successfully built mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector-2.2.9

In [ ]:
!pip install PyMySQL

Collecting PyMySQL
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 2.2 MB/s
Installing collected packages: PyMySQL
Successfully installed PyMySQL-1.0.2

In [ ]:
#importing my sql connector
import mysql.connector as mc
import pymysql as ps

In [ ]:
def connect(hostname,port,username, password):
  try:
    conn = ps.connect(host=hostname , port= port, user= username, password=password)
  except ps.OperationalError:
    raise ps.OperationalError
  else:
    print('Connected!')
  return conn

In [ ]:
#update row if video exists
def update_row(curr,video_title, view_count ,like_count, comment_count, video_id):
  query= ('''UPDATE aakash_youtube
             SET video_title =%s,
                 view_count =%s,
                 like_count =%s,
                 comment_count =%s,
             WHERE video_id == %s;,
          ''')
  var_to_update =( video_title, view_count ,like_count, comment_count, video_id )
  curr.execute(query,(var_to_update))

In [ ]:
def create_table(curr):
  query =('''CREATE TABLE IF NOT EXISTS aakash_youtube (
            
            video_id VARCHAR(255) PRIMARY KEY,
            video_title TEXT NOT NULL,
            view_count INTEGER NOT NULL,
            like_count	INTEGER NOT NULL,
            comment_count INTEGER NOT NULL)

            ''')
  curr.execute(query)

In [ ]:
#Check to see if video exists
def check_if_video_exists(curr, video_id):
  query = (""" SELECT video_id FROM aakash_youtube WHERE video_id = %s""")
  curr.execute(query,(video_id,))

  return curr.fetchone() is not None

In [ ]:
#Check to see if video exists
def update_db(curr,df):
  tmp_df = pd.DataFrame(columns=['video_id', 'video_title', 'view_count', 'like_count', 'comment_count'])
  print(tmp_df.columns.tolist())
  for i,row in df.iterrows():
    if check_if_video_exists(curr,row['video_id']):
        update_row(curr, row['video_id'],row['video_title'], row['view_count '],row['like_count'], row['comment_count'])
    else:
        tmp_df = tmp_df.append(row)
        #print(i)
        #print(row)
        pass
  return tmp_df

In [ ]:
#write insert function
def insert_into_table(curr, video_id, video_title, view_count, like_count, comment_count):
  print("check1")
  insert_into_videos = (""" INSERT INTO aakash_youtube ('video_id', 'video_title', 'view_count', 'like_count', 'comment_count') VALUES(%s,%s,%s,%s,%s);""")
  print("check2")
  row_to_insert = (video_id, video_title, view_count, like_count, comment_count)
  print("check3")
  curr.execute(insert_into_videos, row_to_insert)

In [ ]:
def append_from_df_to_db(curr,df):
  print(df.columns.tolist())
  for i,row in df.iterrows():
    print(row)
    insert_into_table(curr,row['video_id'],row['video_title'], row['view_count '],row['like_count'], row['comment_count'])

In [ ]:
#storing database connection details
hostname = 'database-2.cimnlngca8v0.ap-south-1.rds.amazonaws.com'
dbname = 'database-2'
port = 3306
username = 'admin'
password = 'mypassword'
conn = None

In [ ]:
# conn.cursor().execute("select version()")

In [ ]:
conn = connect(hostname,port,username,password)
curr = conn.cursor()

Connected!

In [ ]:
query = ''' CREATE DATABASE IF NOT EXISTS youtubedata'''

In [ ]:
curr.execute(query)

1

In [ ]:
curr.connection.commit()

In [ ]:
query = '''USE youtubedata'''
curr.execute(query)

0

In [ ]:
curr.execute("select version()")
print(curr.fetchone())

('8.0.27',)

In [ ]:
query= 'show tables'
curr.execute(query)
curr.fetchall()

(('aakash_youtube',),)

In [ ]:
conn.commit()

In [ ]:
#updating the database

#Handling data for scalability



#Perform update on existing videos

#Perform an insert on ner videos

In [ ]:
df.columns.tolist()

In [ ]:
create_table(curr)

In [ ]:
new_vid_df = update_db(curr,df)

['video_id', 'video_title', 'view_count', 'like_count', 'comment_count']

In [ ]:
df.head()

In [ ]:
new_vid_df.head()

,video_id,video_title,view_count,like_count,comment_count
0,jN5hpgBrz8k,Dealing With Python Date Manipulations In a Me...,1425,52,7
1,yFyyP_Uvxj0,How To Solve Data Science Probability Intervie...,1635,56,2
2,Av92CaPTRr8,How to use SQL window functions: RANK vs DENSE...,2055,60,8
3,VEjxlKBkZGM,Amazon Data Science Interview Question Walkthr...,5365,171,20
4,hMUf7DqG1nQ,SQL Basics: How to Join Multiple Tables in SQL...,3075,90,6

In [ ]:
conn.commit()

In [89]:
append_from_df_to_db(curr,new_vid_df)

['video_id', 'video_title', 'view_count', 'like_count', 'comment_count']
check1
0
check1
1
check1
2
check1
3
check1
4
check1
5
check1
6
check1
7
check1
8
check1
9
check1
10
check1
11
check1
12
check1
13
check1
14
check1
15
check1
16
check1
17
check1
18
check1
19
check1
20
check1
21
check1
22
check1
23
check1
24
check1
25
check1
26
check1
27
check1
28
check1
29
check1
30
check1
31
check1
32
check1
33
check1
34
check1
35
check1
36
check1
37
check1
38
check1
39
check1
40
check1
41
check1
42
check1
43
check1
44
check1
45
check1
46
check1
47
check1
48